# Compilados
*.class
*.jar
*.war
*.ear

# Directorios de compilación
/bin/
/build/
/out/

# Archivos temporales de IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Maven
target/
