.button {
  -fx-background-color: white;
  -fx-text-fill: white;
  -fx-font-size: 16px
  -fx-padding: 10 20;
}

.button:hover{
-fx-background-color: black
}

.button:pressed {
  -fx-background-color: red;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0)
}


